<div class="home-jumbotron container">
  <div class="card text-bg-dark text-center">
    <img src="<%= asset_path('home-jumbo.jpg') %>" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title">Brix Blog</h1>
      <p class="card-text">Yeah, I'm gonna write TONS of stuff!</p>
      <p class="card-text"><small>Photo by <a href="https://unsplash.com/@thedevelopinglife?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Davron Bowman</a> on <a href="https://unsplash.com/s/photos/new-mexico-sunset?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </small></p>
    </div>
  </div>
</div>